<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SQLConnStr" value="Server=maraakate.org;Database=Daikatana;uid=dkrw;pwd=92XX44ja!;timeout=600;" />
    <add key="dkExePath" value="Y:\Daikatana\Daikatana.exe"/>

    <!-- Email Settings -->
    <add key="toAddress" value="franks@ggsinc.com"/>
    <add key="fromAddress" value="franks@ggsinc.com"/>
    <add key="emailHost" value="imap-mail.outlook.com"/>
    <add key="emailUser" value="franks@ggsinc.com"/>
    <add key="emailPass" value="m3ll0wM3ll0w!"/>
  </appSettings>
</configuration>
