<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @model ASPNET_MVC_Web.Models.DownloadViewModel
    @using ASPNET_MVC_Web.Models
    @{
       ViewBag.Title = string.Empty;
       Layout = null;
    }
    @if (!String.IsNullOrEmpty(Model.Message))
    {
        <p><b>@Model.Message</b></p>
    }
</body>
</html>
